body{
    background-image: url("gif-for-children-happy-kids-52650-182706.gif");
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    margin: 2.3%; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.form{

    background-color: rgba(255, 255, 255, 0.5485); 
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    
}
button{
    font-size: 34px;
    background-color: #d0ff00; 
    color: #ffffff; 
    border: 2px solid #007bff; 
    border-radius: 9px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
button:hover{
    background-color: #014ea0; 
    color: #ffffff; 
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
h4{
    font-size: 16px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #a00d0d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ff9100; 
    border-radius: 20px; 
}
.info{
    background-color: aliceblue;
    color: #ff0000;
    text-align: center;
    border: 2px solid #ff9100; 
    border-radius: 20px; 
    position: fixed;
    bottom: 0; 
    left: 0; 
    padding: 20px; 
    background-color: #a00d0d; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
h3{

    
    font-size: 24px;
    color: #4CAF50;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.b{
    font-size: 8px;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);

}
.st {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d0ff00;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: none;
    border-radius: 9px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.st:hover {
    background-color: #45a049;
}
#scrollToTopBtn {
    position: absolute;
    top: 10px; 
    right: 10px;
    color: #014ea0;
}
a{
    text-decoration: none;
}
.ll{
    position: absolute;
    top: 10px;
    left: 10px;
}