body{
    background-image: url("360_F_413802776_EQwxFTeyCj7crcUGpb349MfHjBZtPdWT.jpg");
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    margin:-11.6%; 
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.back{
    font-size: 34px;
    background-color: #fbff00; 
    color: #ffffff; 
    border: 2px solid #007bff; 
    border-radius: 9px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: fixed;
    top:10px;
    left: 10px;
    
}
.header{
    position:fixed;
    top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    background: linear-gradient(to right, #ff0000, #3cff00); /* Gradient background */
    -webkit-background-clip: text; 
    color: transparent; 
    transform: scale(1.1);
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 100px; 
    position: fixed;
  bottom: 0;
  width: 70%;
  }

  .button {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  .a{
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
  }